@media (min-width: 107.1875rem) {
	.banner_main {
		background-size: contain;
	}
}
@media (max-width: 76.5625rem) {
	.banner_main {
		background-position: 70% center;
	}
	.text_hero {
		font-size: 3rem;
		max-width: 40rem;
	}
}
@media (max-width: 64rem) {
	.banner_main {
		background-image: initial !important;
		padding: 5.8125rem 1rem;
		text-align: center;
	}
	.banner_content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.text_hero {
		font-size: 2rem;
		max-width: 40rem;
	}
	.banner_buttons {
		justify-content: center;
	}
	.banner_mobile {
		display: block;
		width: 100%;
		height: 50rem;
		background-image: url("../images/banner_main_1_mb.png");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.section_content_wrapper {
		flex-direction: column;
		gap: 0.625rem;
	}
	.section_4 .container {
		display: flex;
		align-items: center;
		padding: 5rem;
		gap: 2.5rem;
		flex-direction: column;
	}
}
@media (max-width: 67.5rem) {
	.service_list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 1.25rem;
		grid-row-gap: 1.25rem;
	}

	.s1 {
		grid-area: 1 / 1 / 2 / 2;
	}
	.s2 {
		grid-area: 1 / 2 / 2 / 3;
	}
	.s3 {
		grid-area: 2 / 1 / 3 / 3;
	}
	.service_list_home.s3 {
		width: 100% !important;
		max-width: 100%;
		overflow-x: scroll;
		height: 100%;
	}
	.service_list_home.s3 .service_options {
		justify-content: start;
	}
	.service_list_home.s3 .col_2_opt {
		flex-direction: row;
	}
	.opt7,
	.opt8,
	.opt9,
	.opt10,
	.opt11,
	.opt12 {
		width: 14.5625rem;
		height: 29rem;
		background-color: red;
		border-radius: 0.5rem;
		border: 0.0625rem solid #ccc;
		flex-shrink: 0;
		position: relative;
	}
	.section_3 .container {
		flex-direction: column;
	}
}
@media (max-width: 48rem) {
	.service_list {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 1.25rem;
		grid-row-gap: 1.25rem;
	}

	.s1 {
		grid-area: 1 / 1 / 2 / 2;
	}
	.s2 {
		grid-area: 2 / 1 / 3 / 2;
	}
	.s3 {
		grid-area: 3 / 1 / 4 / 2;
	}
}
